{% extends "bali/base.html" %}
{% load static %}


{% block body_block %}

<style type="text/css">
    h1 {font-size:20px;}
</style>


  </div -->
  <div class="container aboutSection">
    <div class="row">
      <div class=" col-sm-10 col-sm-offset-1">
        <h1><span>通号(北京)工业研究院有限公司</span></h1>
        <p>通号（北京）工业研究院有限公司（以下简称“北京工业研究院”）是集系统集成、技术开发、技术服务、技术咨询、检验检测于一体的轨道交通信号设备的专业研究设计院。公司作为专业的铁路通信信号产品技术开发和产业化研究设计院，凭借一流的产品质量、积极完善的现场技术支持和售后服务，能够向中国高速铁路、普速铁路、城市轨道交通和相关领域提供列车控制系统全系列产品提供技术支持与服务。其中多项产品获得国家科学进步奖、铁道科学技术成果奖、中国铁道学会科学技术奖等多个国家和省部级荣誉。</p>
      </div>
    </div>
    <div class="row">
      <div class=" col-sm-5 col-sm-offset-1 ">
        <h1>通号(北京)轨道工业集团有限公司</h1>
        <p>北京工业研究院是通号（北京）轨道工业集团有限公司（以下简称“北京工业集团”）全资的二级独立核算法人单位。北京工业集团于2015年由北京铁路信号有限公司、上海铁路通信有限公司和成都铁路通信设备有限责任公司三家企业重组整合而成，注册资金14亿元人民币，现有员工1900余人，是集科研开发、生产制造、产品销售、技术服务于一体的专业铁路信号系统装备和轨道交通信号控制设备大型企业集团。
        </p>
      </div>
      <div class=" col-sm-5">
        <h1>中国铁路通信信号股份有限公司</h1>
        <p>北京工业集团隶属于中国铁路通信信号股份有限公司（简称“中国通号”），是轨道交通通信信号领域技术、产品和服务供应商，是中国轨道交通控制系统行业的先行者和领导者，是全球最大的轨道交通控制系统解决方案提供商。拥有轨道交通控制系统设计研发、设备制造及工程服务于一体的完整产业链，是中国轨道交通控制系统设备制式、技术标准及产品标准的归口单位，是唯一获国家铁路局授权的铁路控制系统和通信信号产品的标准化技术审核单位。2015年8月7日在香港联合交易所挂牌上市（股票代码：03969.HK）。现有20家一级子公司，员工1.5万人。</p>
      </div>
    </div>
  </div>

<div style="background:#15202d;">
    <div class="container">
      <!--div class="row serviceSection"-->
      <div class="row">
        <div class="col-md-4 ">
          <img src="{% static "images/logo.jpg" %}" style="width: 80px;margin-left: 10px;margin-top:20px;opacity:0.65; ">
          </img>
        </div>
        <div class = "col-md-4">
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-globe "></span>
            <p>通号（北京）工业研究院有限公司</p>
            <span class="glyphicon glyphicon-map-marker "></span>
            <p>北京市大兴区黄村镇狼垡四村456号</p>
            </div>
        </div>
        <div class='col-md-4'>
            <div class="aboutCompany">
            <span class="glyphicon glyphicon-earphone "></span>
            <p>Phone:  (010) 5121-4223</p>
            <span class="glyphicon glyphicon-envelope "></span>
            <p>E-mail: xxx@crsc.cn</p>
          </div>
        </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <label>Copyright © 2017 CRSC · All Right Reserved</label>
    </div>
  </footer>


{% endblock %}
