{% extends 'bali/base.html' %}
{% load static %}


{%block body_block %}

<body style="overflow-y: hidden;">
<div class="container" >
  <div class="row clearfix">
    <div class="col-md-12 column">
    <br/>
    <br/>
    <br/>


  <div class="row slider">
    <ul class="rslides" id="slider">
      <li>
          <img src="/static/images/banner2s.jpg" id="image2" alt="no picture b-2"/>
      </li>
      <li>
          <img src="{% static "images/banner3s.jpg" %}" id="image1" alt="no picture b-3"/>
      </li>
      <li>
          <img src="{% static "images/banner1s.jpg" %}" id="image3" alt="no picture b-1"/>
      </li>
    </ul>
  </div>
  <div class="row slider">
    <ul class="rslides" id="sliderMini">
      <li>
          <img src="{% static "images/banner2s.jpg" %}" alt="">

      </li>
      <li>
          <img src="{% static "images/banner3s.jpg" %}" alt="">

      </li>
      <li>
          <img src="{% static "images/banner1s.jpg" %}" alt="">

      </li>
    </ul>
  </div>
  <br/>
      <div class="row">
        <div class="col-lg-6" style="text-align: center;">
          <p>
          <a class="btn btn-primary btn-lg" href="{% url "test" %}">进入测试</a>
        </p>  

        </div>
        <div class="col-lg-6" style="text-align: center;">
        <p>
           <a class="btn btn-info btn-lg" href="#" >了解更多</a>
        </p>   
        </div>
      </div>

        <div class="jumbotron" style="padding-top: 5px;padding-bottom: 5px">
        <h2>
          应答器教学仿真系统
        </h2>
        <p>
          <h4 >应答器教学仿真演示系统是应答器及其传输系统在真实运行环境下的一种教学演示，可以通过仿真软件改变应答器或者传输系统中任意单元来模拟各种工作状态。整个系统主要由四个功能单元和若干连接线组成，包括一个控制单元、一个LEU模拟、应答器模拟单元、车载设备(BTM)模拟单元。</h4>
        </p>  
        </div>
        </div>
        </div>
      {% endblock %}
