
{% extends "bali/base.html"%}
{% load static %}
{% block body_block %}

<style type="text/css">
    h1 {font-size:20px;}
</style>


  <div class="container ">
    <div class="row aboutSection" >
      <div class="col-sm-10 col-sm-offset-1">
         <div class="row">
          <div class="col-md-5 col-sm-12">
          <h1>应答器教学仿真系统</h1>
           <p>
              应答器教学仿真演示系统是应答器及其传输系统在真实运行环境下的一种教学演示，可以通过仿真软件改变应答器或者传输系统中任意单元来模拟各种工作状态。整个系统主要由四个功能单元和若干连接线组成，包括一个控制单元、一个LEU模拟、应答器模拟单元、车载设备(BTM)模拟单元，系统构成如图1所示。

            </p>
            <p>
              应答器教学仿真演示系统的软件即为控制单元的软件，主要用来对各单元进行通信控制，同时能够进行界面的实时模拟仿真演示功能。
            </p>
            <p>
              应答器教学仿真演示系统的软件即为控制单元的软件，主要用来对各单元进行通信控制，同时能够进行界面的实时模拟仿真演示功能。应答器教学仿真演示系统的软件即为控制单元的软件，主要用来对各单元进行通信控制，同时能够进行界面的实时模拟仿真演示功能。应答器教学仿真演示系统的软件即为控制单元的软件，主要用来对各单元进行通信控制，同时能够进行界面的实时模拟仿真演示功能。
           </p>
          </div>
           <div class="col-md-6 col-md-offset-1 col-sm-12" style="margin-bottom=125px">
             <div class="row">
              <ul class="rslides" id="sliderCando">
                <li>
                    <img src="{% static "images/cando2.jpg"%}" alt="">
                </li>
               
                <!-- li>
                  <img src="asset/img/arrow_02.jpg" alt="">
                </li>
                <li>
                  <img src="asset/img/arrow_03.jpg" alt="">
                </li>
                <li>
                  <img src="asset/img/arrow_04.jpg" alt="">
                </li>
                <li>
                  <img src="asset/img/arrow_05.jpg" alt="">
                </li>
                <li>
                  <img src="asset/img/arrow_06.jpg" alt="">
                </li>
                <li>
                  <img src="asset/img/arrow_07.jpg" alt="">
                </li -->

              </ul>
            </div>
           </div>
         </div>
      </div>
    </div>
     <div style="min-height:400px;">
    <div class="row rowContet" style="padding-top: 5px;">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="newsSlidder demof">
          <ul>
            <li>
                <img class="media-object" src="{% static "images/balise.jpg"%}" style="width: 100px;height: 100px;"/>
            <a href="#"> 应答器</a>
              <p>简要介绍应答器，简要介绍应答器，简要介绍应答器，简要介绍应答器，简要介绍应答器。</p>
            </li>
            <li class="odd"><img class="media-object" src="{% static "images/liekong.jpg"%}" style="width: 100px;height: 100px;"/>
            <a href="#"> 列控中心</a>
              <p>简要介绍列控中心。简要介绍列控中心。简要介绍列控中心。简要介绍列控中心。简要介绍列控中心。 </p>
            </li>
            <li><img class="media-object" src="{% static "images/atp.jpg"%}" style="width: 100px;height: 100px;"/>
            <a href="#"> BEPT</a>
              <p>简要介绍BEPT。简要介绍BEPT。简要介绍BEPT。简要介绍BEPT。简要介绍BEPT。简要介绍BEPT。</p>
            </li>
            <li><img class="media-object" src="{% static "images/zpw2000.jpg"%}" style="width: 100px;height: 100px;"/>
            <a href="#"> BTM</a>
              <p>简要介绍BTM。简要介绍BTM。简要介绍BTM。简要介绍BTM。简要介绍BTM。简要介绍BTM。</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <h2 style="margin-bottom:15px">About</h2>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title accordion-toggle">
                什么是应答器教学仿真系统 ?
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。介绍什么是应答器教学仿真系统。
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <h4 class="panel-title accordion-toggle">
                应答器仿真系统的作用 ?
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。介绍应答器教学仿真系统的作用。
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <h4 class="panel-title accordion-toggle">
              为什么我们使用它 ?
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">介绍为什么使用应答器教学仿真系统。介绍为什么使用应答器教学仿真系统。介绍为什么使用应答器教学仿真系统。介绍为什么使用应答器教学仿真系统。介绍为什么使用应答器教学仿真系统。介绍为什么使用应答器教学仿真系统。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

     <div class="row candoRow">
      <div class="borderCando"></div>
      <div class="col-sm-8 col-sm-offset-2">
      <h1>教学视频</h1>
      <video width="100%" controls poster="{% static "images/film.jpg" %}">
          <source src="{% static "images/cando.mp4" %}" type="video/mp4">
          Your browser does not support HTML5 video
        </video>
       </div>
    </div>
    <div class="row candoRow">
      <div class="borderCando"></div>
      <div class="col-sm-3 col-sm-offset-2">
        <div>
            <img src="{% static "icon3.png"%}" alt="Generic placeholder image">
        </div>
      </div>
       <div class="col-sm-5">
        <h1 >应答器测试</h1>
        <p >一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍.</p>
       </div>
    </div>
    <div class="row candoRow">
       <div class="borderCando"></div>
      <div class="col-sm-3 col-sm-offset-2">
        <div>
            <img src="{% static "images/icon2.png" %}" alt="Generic placeholder image">
        </div>
      </div>
       <div class="col-sm-5">
        <h1 >应答器报文生成与解析</h1>
        <p >一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍.</p>
       </div>
    </div>
       <div class="row candoRow">
          <div class="borderCando"></div>
      <div class="col-sm-3 col-sm-offset-2">
          <img src="{% static "images/icon1.png" %}" alt="Generic placeholder image">
      </div>
       <div class="col-sm-5">
       <h1 >应答器报文读写</h1>
        <p >一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍.</p>
       </div>
    </div>
     <div class="row candoRow">
          <div class="borderCando"></div>
      <div class="col-sm-3 col-sm-offset-2">
          <img src="{% static "images/icon4.png" %}" alt="Generic placeholder image">
      </div>
       <div class="col-sm-5">
        <h1 >LEU报文读写</h1>
        <p >一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍一些介绍.</p>
       </div>
    </div>
  </div>
  
{% endblock %}


