
<!DOCTYPE html>
<html lang="zh-cmn-Hans en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico">-->

  <title>应答器教学仿真系统</title>

  <!-- Bootstrap core CSS -->
  <link href="./asset/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="./asset/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../asset/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="./asset/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="./asset/custom.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-fixed-top">
    <div class="container" style="margin-top: 10px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">Menu
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a href="index.html"><img class="navbar-brand" src="asset/img/icon2.jpg"><span><h4 style="min-width: 400px">应答器教学仿真系统</h4></span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li><a href="index.html">主页</a></li>
          <li><a href="test.html">测试系统</a></li>

             <li class="dropdown">
               <a href="test.html" class="dropdown-toggle" data-toggle="dropdown">测试系统<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                   <a href="#">应答器测试（不切换报文）</a>
                </li>
                <li>
                   <a href="#">应答器测试（切换报文）</a>
                </li>
                <li class="divider"></li>

                <li>
                   <a href="#">应答器报文生成</a>
                </li>
                <li>
                   <a href="#">应答器报文解析</a>
                </li>
                <li class="divider"></li>

                <li>
                   <a href="readBalise.html">应答器报文读取</a>
                </li>
                <li>
                  <a href="#">应答器报文写入</a>
                </li>
                <li class="divider">
                </li>

                <li>
                   <a href="readBalise.html">LEU报文读取</a>
                </li>
                <li>
                  <a href="#">LEU报文写入</a>
              </ul>
            </li>


          <li><a href="intro.html">系统介绍</a></li>
          <li class="active"><a href="operation.html">测试说明</a></li>
          <li><a href="about.html">关于我们</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div></div>

  <!-- div class="row faqTopLayer">
    <div class="container">
      <div class="navhelp">
        <span>Home</span>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <span>FAQ</span>
      </div>
      <span>
    </div>
  </div -->

  <div class="container aboutSection">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 style="margin-bottom:15px">测试说明</h2>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title accordion-toggle">
               步骤一 连接应答器
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">先讲述如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <h4 class="panel-title accordion-toggle">
                步骤二 连接LEU
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文。
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <h4 class="panel-title accordion-toggle">
               步骤三 选择测试模式
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文。
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              <h4 class="panel-title accordion-toggle">
               步骤四
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU.
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              <h4 class="panel-title accordion-toggle">
               步骤五
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统。
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse6">
              <h4 class="panel-title accordion-toggle">
               步骤六
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文。
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse7">
              <h4 class="panel-title accordion-toggle">
              步骤七
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么.
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse8">
              <h4 class="panel-title accordion-toggle">
              步骤八
              </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body">如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div style="background:#15202d;">
    <div class="container" style="padding: 50px;">
      <div class="row serviceSection">
        <div class="col-md-6 ">
          <img src="asset/img/logo.jpg " style="width: 170px;margin-left: 15px;opacity:0.65; ">
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-globe "></span>
            <p>通号（北京）工业研究院有限公司</p>
          </div>
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-map-marker "></span>
            <p>北京市大兴区黄村镇狼垡四村456号</p>
          </div>
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-earphone "></span>
            <p>Phone:  (010) 5121-4223</p>
          </div>
          <div class="aboutCompany ">
            <span class="glyphicon glyphicon-envelope "></span>
            <p>E-mail: xxx@crsc.cn</p>
          </div>
        </div>

        <div class="col-md-6 gallery">
          <h4>教学视频</h4>
          <video width="100%" controls poster="asset/img/film.jpg">
            <source src="asset/cando.mp4" type="video/mp4"> Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <label>Copyright © 2017 CRSC · All Right Reserved</label>
    </div>
  </footer>

  <script src="./asset/jquery.min.js "></script>
  <script src="./asset/bootstrap.min.js "></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="./asset/ie10-viewport-bug-workaround.js "></script>

  <script>
    $(function(){
     $( ".navbar " ).addClass( "change " );   
    });
	</script>

</body>

</html>