{% extends "bali/base.html" %}
{% load static %}

{% block body_block %}
  <div class="container aboutSection">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 style="margin-bottom:15px">测试说明</h2>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title accordion-toggle">
               步骤一 连接应答器
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">先讲述如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备，如何连接测试系统的各个设备.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <h4 class="panel-title accordion-toggle">
                步骤二 连接LEU
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文，如何生成报文。
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <h4 class="panel-title accordion-toggle">
               步骤三 选择测试模式
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文，如何选择切换报文。
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              <h4 class="panel-title accordion-toggle">
               步骤四
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU，如何测试LEU.
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              <h4 class="panel-title accordion-toggle">
               步骤五
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统，如何使用应答器教学仿真系统。
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse6">
              <h4 class="panel-title accordion-toggle">
               步骤六
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文，如何解析报文。
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse7">
              <h4 class="panel-title accordion-toggle">
              步骤七
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么，每个报文信息包的具体含义是什么.
              </div>
            </div>
          </div>
           <div class="panel">
            <div class="panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse8">
              <h4 class="panel-title accordion-toggle">
              步骤八
              </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body">如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号，如何确定电脑连接的串口号。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
