{% extends "bali/base.html"%}

{% load static %}

{% block body_block %}

<style type="text/css">
    h1 {font-size:20px;}
</style>


<div class="container aboutSection">
    <div class="row">
        <div class=" col-sm-6">
        <h1><span>1.模拟列控中心发送报文</span></h1>
        <label>选取列控中心报文(模拟列控中心)</label>
        <form class="form-inline" role="form">
          <div class="form-group">
              <span>通路1</span>
            <label class="sr-only" for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="选取通路1报文">
            </input>
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input type="file" id="inputfile">
            </input>
          </div>
        </form>
          <br/>
          <form class="form-inline" role="form">
         <div class="form-group">
              <span>通路2</span>

            <label class="sr-only" for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="选取通路2报文">
            </input>
             </div>
          <div class="form-group">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input type="file" id="inputfile">
            </input>
          </div>
            </form>

          <br/>
     <form class="form-inline" role="form">
      
     <div class="form-group">
     <span>通路3</span>
            <label class="sr-only" for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="选取通路3报文">
            </input> 
     </div>
          <div class="form-group">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input type="file" id="inputfile">
          </div>
          <br/>
          <br/>
      <div class="form-group">
     <span>通路4</span>
            <label class="sr-only" for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="选取通路4报文">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input type="file" id="inputfile">
          </div>
          <br/>
        </form>
      <br/>
      <br/>

        <form role="form">
          <div class="form-group">
            <label for="name">读模拟列控中心发送的报文</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>
        </form>  
        <div class="row"> 
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default">开始模拟</button>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default">结束模拟</button>
        </div>
        </div>
            
        </div>
  <div class=" col-sm-6">
      <h1> <span>2.模拟车载天线接收报文</span></h1>
      <label>选择读取模式</label>
   <div class="radio">
          <label>
            <input type="radio" name="opetionsRadios" id="opetionsRadios1" value="option1" checked>单次读取
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">循环读取(读取时间间隔)
          </label>
        </div>
        <form role="form">
          <div class="form-group">
            <label for="name">从应答器读取的报文</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>
        </form>  
        <div class="row">
        <div class="col-sm-3">
<button type="submit" class="btn btn-default">开始模拟</button>
        </div>
        <div class="col-sm-3">
<button type="submit" class="btn btn-default">结束模拟</button>
        </div>
        </div>
 <h1><span>3.一致性校验（通路1）</span></h1>
    <form role="form">
        <div class="form-group">
            <label for="name">校验结果</label>
            <textarea class="form-control" rows="1"></textarea>
            <br/>
            <button type="submit" class="btn btn-default">开始校验</button>
          </div>
        </form>  
      
 
      </div>
      </div>
      </div>

{% endblock %}
