{% extends "bali/base.html" %}
{% load static %}

{% block body_block %}

<body style="overflow:hidden;">
<div class="container" >
  <div class="row clearfix">
    <div class="col-md-12 column">
    <br/>
    <br/>
    <br/>

  <div class="container" >

    <div class="row serviceSection">
      <div class="col-sm-3 homePageIconDiv rightBorder">
        <div class="homePageIcon">
            <img src="{% static "images/icon3.png"%}" alt="Generic placeholder image">
        </div>
        <h3 class="text_center">应答器测试</h3>
        <p class="text_center">这是应答器测试的介绍。这是应答器测试的介绍。这是应答器测试的介绍。这是应答器测试的介绍。这是应答器测试的介绍。这是应答器测试的介绍。这是应答器测试的介绍。这是应答器测试的介绍。</p>
      </div>

      <div class=" col-sm-3 homePageIconDiv rightBorder">
        <div class="homePageIcon">
            <img src="{% static "images/icon2.png" %}" alt="Generic placeholder image">
        </div>
        <h3 class="text_center">应答器报文生成解析</h3>
        <p class="text_center">这是应答器报文解析的介绍。这是应答器报文解析的介绍。这是应答器报文解析的介绍。这是应答器报文解析的介绍。这是应答器报文解析的介绍。这是应答器报文解析的介绍。这是应答器报文解析的介绍。这是应答器报文解析的介绍。</p>
      </div>

      <div class="col-sm-3 homePageIconDiv rightBorder">
        <div class="homePageIcon">
            <img src="{% static "images/icon1.png" %}" alt="Generic placeholder image">
        </div>
        <h3 class="text_center">应答器报文读写</h3>
        <p class="text_center">这是应答器报文读写的介绍。这是应答器报文读写的介绍。这是应答器报文读写的介绍。这是应答器报文读写的介绍。这是应答器报文读写的介绍。这是应答器报文读写的介绍。这是应答器报文读写的介绍。</p>
      </div>

      <div class="col-sm-3 homePageIconDiv">
        <div class="homePageIcon">
            <img src="{% static "images/icon4.png" %}" alt="Generic placeholder image" style="margin-top: 34px;">
        </div>
        <h3 class="text_center">LEU报文读写</h3>
        <p class="text_center">这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。这是LEU报文读写的介绍。</p>
    </div>

    <div class="row operationBtnSection" style="text-align: center;">
      <div class="col-sm-3 homePageIconDiv rightBorder">
          <a class="btn btn-primary btn-lg" href="{% url "testBaliseNoSwitch"%}">应答器测试（不切换报文）<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
        <br/>
        <a class="btn btn-info btn-lg" href="{% url "testBaliseSwitch"%}">应答器测试（切换报文）<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
      </div>

      <div class="col-sm-3 homePageIconDiv rightBorder">
          <a class="btn btn-primary btn-lg" href="{% url "generateTelegram" %}">应答器报文生成<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
        <br/>
        <a class="btn btn-info btn-lg" href="{% url "analysizeTelegram" %}">应答器报文解析<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
      </div>

      <div class="col-sm-3 homePageIconDiv rightBorder">
          <a class="btn btn-primary btn-lg" href="{% url "readBalise" %}">应答器报文读取<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
        <br/>
        <a class="btn btn-info btn-lg" href="{% url "writeBalise" %}">应答器报文写入<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
      </div>

      <div class="col-sm-3 homePageIconDiv rightBorder">
          <a class="btn btn-primary btn-lg" href="{% url "readLEU"%}">LEU报文读取<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
        <br/>
        <a class="btn btn-info btn-lg" href="{%url "writeLEU"%}">LEU报文写入<em class="glyphicon glyphicon-chevron-right"></em> </a>
        <br/>
      </div>
  </div>
  <br/>
  {% endblock %}
