{% extends "bali/base.html"%}

{% load static %}

{% block body_block %}

<style type="text/css">
    h1 {font-size:20px;}
</style>



  <div class="container aboutSection">
    <div class="row">
      <div class=" col-sm-12">
        <h1><span>1.报文文件</span></h1>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="选择需要写入的报文文件">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input type="file" id="inputfile">
          </div>
        </form>

        <h1><span>2.需要写入的报文内容</span></h1>
        <form role="form">
          <div class="form-group">
            <label for="name">写入的报文</label>
            <textarea class="form-control" rows="8"></textarea>
            <button type="submit" class="btn btn-default">写入报文</button>
          </div>
        </form>  

        <h1><span>3.报文写入结果</span></h1>
        <form role="form">
          <div class="form-group">
            <label for="name">报文写入结果</label>
            <textarea class="form-control" rows="1"></textarea>
          </div>
        </form>  
        </div>
        </div>
        </div>
         
{% endblock %}
